body {
   background-color: rgb(187, 187, 187);
    margin: 20px 50px;
   text-align: justify;
}

p {
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 20px;
}

.paragrafo-de-artigo {
    background-color: #b8b8cf;
    color:#020e13;
    padding:15px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.titulo-de-pagina {
    background-color: #ecf1f3;
    border-radius: 15px ;
   padding: 10px;
    color:#07696d;
    line-height:  1.5;
    font-weight: bold;
    font-size: 24pt;
    font-family:Arial, Helvetica, sans-serif
}

.paragrafo1 {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}

.paragrafo2 {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}

.paragrafo3 {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}

.paragrafo4 {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}

.paragrafob1 {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}

.paragrafoc1 {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}

.paragrafoc2 {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}

.autor-exemplo {
    color: #00080a;
    line-height:  1.5;
    font-weight: bold;
    font-size: 16pt;
    font-family:Arial, Helvetica, sans-serif
}

.rodape {
    background-color: #e2e3f1;
    color: #010b0c;
    padding: 15px;
    border-radius: 10pt;
}